/* MonaspaceRadon-Bold */
@font-face {
  font-family: 'MonaspaceRadon Bold';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://raw.github.com/Mr-Coxall/Monaspace-GitHub-Fonts/blob/main/fonts/webfonts/MonaspaceRadon-Bold.woff) format('woff2');
}
